@charset "UTF-8";

#accountdialogsearchbutton {
	margin-left: 20px;
}

#accountdialoglist {
	display: none;
}

.accountidcolumn {
	width: 150px;
}

.accountnamecolumn {
	width: 350px
}

.industrynamecolumn {
	width: 150px
}

.addresscolumn {
	width: 300px;
}