@charset "UTF-8";

#accountdialogsearchbutton {
	margin-left: 20px;
}

#accountdialoglist {
	display: none;
}

.accountselectcolumn {
	width: 50px;
}

.accountidcolumn {
	width: 150px;
}

.accountnamecolumn {
	width: 275px
}

.addresscolumn {
	width: 275px;
}