@charset "UTF-8";

#contactdgaccountsearchbutton,
#contactdgaccountclearbutton {
	margin-left: 20px;
}

#contactdglist {
	display: none;
}
#contactdglistheader {
	background-color: #4169e1;
	color: #FFFFFF;
}
#contactdglistheader th,
#contactdglistbody td {
	border: solid 1px #000000;
	padding-left: 10px;
}

.pagination {
	margin-top: 15px;
}

.contactselectcolumn {
	width: 35px;
}

.contactidcolumn {
	width: 150px;
}

.contactnamecolumn {
	width: 300px
}

.accountcolumn {
	width: 275px;
}