@charset "UTF-8";

/* 一覧 */
.leadlist {
	display: none;
}
.leadlistheader {
	background-color: #4169e1;
	color: #FFFFFF;
}
.leadlistheader th,
.leadlistbody td {
	border: solid 1px #000000;
	padding-left: 10px;
}
/* ページネーション */
#leadlistpagination {
	display: none;
}
.pagination {
	margin-top: 15px;
}
/* ID */
.idcolumn {
	width: 150px;
}
/* 姓 */
.lastnamecolumn {
	width: 250px
}
/* 名 */
.firstnamecolumn {
	width: 250px
}
/* 会社名 */
.companynamecolumn {
	width: 350px
}
/* 状況名 */
.statusnamecolumn {
	width: 150px
}
/* 評価名 */
.estimationnamecolumn {
	width: 75px
}
/* 都道府県名 */
.divisionnamecolumn {
	width: 100px
}