@charset "UTF-8";

/* 一覧 */
.leadlist {
	display: none;
}
/* ID */
.idcolumn {
	width: 150px;
}
/* 姓 */
.lastnamecolumn {
	width: 250px
}
/* 名 */
.firstnamecolumn {
	width: 250px
}
/* 会社名 */
.companynamecolumn {
	width: 350px
}
/* 状況名 */
.statusnamecolumn {
	width: 150px
}
/* 評価名 */
.estimationnamecolumn {
	width: 75px
}
/* 都道府県名 */
.divisionnamecolumn {
	width: 100px
}